<h1><%= t('activerecord.attributes.movie.titles.new') %></h1>

<%= render "form", movie: @movie %>

<br>

<div class="mt-3">
  <%= link_to t('activerecord.attributes.movie.buttons.back'), movies_path, class: "btn btn-secondary" %>
</div>
